flows.json
[{"id":"7fef33dd.08ecbc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"61334f55.6c13c","type":"ui_form","z":"7fef33dd.08ecbc","name":"","label":"form","group":"bc55234.3b27ee","order":1,"width":0,"height":0,"options":[{"label":"Enter the input ","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":300,"wires":[["72460268.67c95c"]]},{"id":"72460268.67c95c","type":"function","z":"7fef33dd.08ecbc","name":"F1","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":260,"wires":[["792a99c0.191798","4479af26.12cc2"]]},{"id":"792a99c0.191798","type":"watson-conversation-v1","z":"7fef33dd.08ecbc","name":"Asssistant","workspaceid":"ebe0a8ca-7fbd-4705-bdf8-ce4f087f95c9","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/99f3acbe-2c07-48e3-8a05-106cf96d9d16","timeout":"","optout-learning":false,"x":430,"y":220,"wires":[["8c0cbf54.f66fd","8fefdb16.4d1498"]]},{"id":"8c0cbf54.f66fd","type":"function","z":"7fef33dd.08ecbc","name":"F2","func":"if (msg.payload.output.error){\n    msg.payload=\"Please Rephrase\";\n    return msg;\n}\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["7c93446d.c8dffc"]]},{"id":"7c93446d.c8dffc","type":"ui_text","z":"7fef33dd.08ecbc","group":"bc55234.3b27ee","order":2,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":780,"y":360,"wires":[]},{"id":"4479af26.12cc2","type":"ui_text","z":"7fef33dd.08ecbc","group":"bc55234.3b27ee","order":3,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":410,"y":320,"wires":[]},{"id":"8fefdb16.4d1498","type":"debug","z":"7fef33dd.08ecbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":140,"wires":[]},{"id":"bc55234.3b27ee","type":"ui_group","z":"","name":"Chatbot","tab":"d208ccd2.a985a","order":1,"disp":true,"width":26,"collapse":false},{"id":"d208ccd2.a985a","type":"ui_tab","z":"","name":"CUSTOMER_CARE","icon":"dashboard","disabled":false,"hidden":false}]